/**
 * inputSelect
 * modify huanghui 2012-10-10 
 * description ：v1.3版本，添加圆角(边框阴影加不了)
*/
.ui-inputSelect {
	border: 1px solid #c5c5c5;
	padding: 1px;
	height: 23px;
	line-height: 20px;
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ui-inputSelect-active {
	border: 1px solid #3399ff;
}
.ui-inputSelect[disabled="disabled"] {
	border: 1px solid #dddddd;
	background-color: #FFF;
}
