/*widget minProgressBar*/
.ui-min-progressBar, .ui-min-progressBar span, .ui-min-progressBar span b {
	height:18px;
	background-image: url(images/minProgressBar/minProgressBar.png);
	width:100px;
}
.ui-min-progressBar span {
	background-position:0 -40px;
	display:block;
}
.ui-min-progressBar span b{
	width:0px; display:block;
}
.ui-min-progressBar span b.grayColor{
	background-position:0 -60px;
}
.ui-min-progressBar span b.blueColor{
	background-position:0 -80px;
}
.ui-min-progressBar span b.redColor{
	background-position:0 -120px;
}
.ui-min-progressBar span b.greenColor{
	background-position:0 -100px;
}
.ui-min-progressBar span b.yellowColor{
	background-position:0 -20px;
}
.ui-min-progressBar span b.purpleColor{
	background-position:0 0;
}
div.ui-min-progressBar-dataValue{
    width:100px;text-align:center;line-height:18px;height:18px;
}
