@charset "utf-8";
/* CSS Document */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{
	border:0 ;
	font-family:'微软雅黑',sans-serif ;
	font-weight:normal ;
	margin:0 ;
	padding:0 ;
	vertical-align:middle ;
	text-decoration:none ;
}
ul,li{
	list-style:none ;
}
i,b{
	font-style:normal ;
}
a,:focus{
	outline:none ;
}
