/*
 *按钮
 */
/*全局*/
.e_btn, .e_con {
	background-image:url(images/buttonround/button_bg.png);
	background-repeat:no-repeat;
	border:0;
	margin:0;
	padding:0;
}
/*默认*/
.e_btn {
	background-position:0 0;
}
.e_con {
	background-position:right -22px;
}
.e_btn {
	height:22px;
	padding-left:3px;
	display:inline-block;
	font-weight:normal;
	cursor:default;
	margin:2px;
	margin-bottom:0;
	overflow:hidden;
}
.e_btn .e_con {
	height:22px;
	padding:0 4px 0 1px;
	display:block;
	font-weight:normal;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;
	float:left;
}
.e_btn .e_con .btn {
	margin:0;
	padding:0;
	border:0;
	background:none;
	font-size:12px;
	height:16px;
	overflow:hidden;
	line-height:20px;
	vertical-align:middle;
	margin-top:3px;
}
.e_btn .e_con button.btn, .e_btn .e_con input.btn {
	margin-top:2px;
	margin-bottom:-3px;
}
.e_btn .e_con div.ico {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:16px;
	vertical-align:middle;
	margin:3px;
	margin-bottom:0;
	overflow:hidden;
	font-size:1px;
}
.e_btn .e_con div.s {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:1px;
	vertical-align:middle;
	margin-top:3px;
	overflow:hidden;
	font-size:1px;
}
.e_btn .e_con span.triangle {
	display:inline-block;
	background-image:url(images/buttonround/btn_icon_menu.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
	vertical-align:middle;
	margin:3px 3px -3px 3px;
	_margin-right:6px;
	overflow:hidden;
	font-size:1px;
}
/*禁用*/
.d {
	background-position:0 -132px;
}
.d .e_con {
	background-position:right -154px;
}
.d .e_con .btn {
	color:#989898;
}
.d .e_con div.ico {
	vertical-align:middle;
	margin-top:3px;
 filter : progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=25, finishOpacity=0);
	opacity: 0.25;
}
/*click*/
.a {
	background-position:0 -176px;
}
.a .e_con {
	background-position:right -198px;
}
/*hover*/
.h {
	background-position:0 -44px;
}
.h .e_con {
	background-position:right -66px;
}
/*click*/
.c {
	background-position:0 -88px;
}
.c .e_con {
	background-position:right -110px;
}
/*light*/
.l {
	background:none;
}
.l .e_con {
	background:none;
}
/*light hover*/
.lh {
	background-position:0 -220px;
}
.lh .e_con {
	background-position:right -242px;
}
/*corner left*/
.cl {
	background-position:0 -264px;
}
/*corner right*/
.cr {
	background-position:right -286px;
}
.h .cr {
	background-position:right -330px;
}
.c .cr {
	background-position:right -374px;
}
.btnl {
	margin-left:0;
}
.btnr {
	margin-right:0;
}
