@CHARSET "UTF-8";


/**
 * 角色权限设置部分收缩
 * zhangwq 2012-2-13
 */
.ui-custom-rolePermission-setting input{
	vertical-align: text-bottom;
	margin-right:3px;
}
.ui-custom-rolePermission-setting  tr.ui-custom-rolePermission-first-item>td>span,
.ui-custom-rolePermission-setting  tr.title>td>span{
    padding-left:0;
}
/*
.ui-custom-rolePermission-setting  tr.title {
    height: 32px;
    line-height: 32px;
}*/
.ui-custom-rolePermission-setting tr.title>td.field_name_m {
    font-size:14px;
    font-weight:bold;
}
.ui-custom-rolePermission-setting  .field_td_span{
    padding-left:92px;
}
.ui-custom-rolePermission-setting  .field_td_span1{
    padding-left:112px;
}
.ui-custom-rolePermission-setting  td>span>label{
	font-weight:bold;
    width:80px;
    display:inline-block;
    padding-right:10px;
}
.ui-custom-rolePermission-setting  .ui-custom-rolePermission-tbodyLine {
    border-bottom:1px solid #808080;
}
.ui-custom-rolePermission-setting .contentTbody {
    height:28px;
    line-height:28px;
}
 /*灰色分割线*/
div.line_gray {
	clear:both;
	height:1px;
	border-bottom:1px solid #808080;
	width:100%;
}
/*信息块头*/
h2.ui-custom-field-title {
	font-size:12px;
  font-weight:bold;
	color:#000000;
	padding-left:6px;
  height: 26px;
  line-height: 26px;
}
/*将文本框的长度值为文本域的默认长度*/
.input_text_texarea_default {
    width: 278px;
}
/**
 * 角色编辑-角色成员
 */
.ui-custom-form-2d {
	clear:both;
	display:block;
	padding-top:8px;
}
.ui-custom-form-2d> dt {
	float:left;
	width:80px;
	text-align:right;
	margin-right:3px;
}
.ui-custom-form-2d> dt,.ui-custom-form-2d>dd {
	font-size:12px;
	height:21px;
	line-height:21px;
	overflow:hidden;
}
/*firefox 10.0.2下 应用ui-inputTextarea(vertical-align:text-top)显示bug*/
.ui-custom-form-2d > dd > textarea {
	vertical-align:top;
}
/*表单行高*/
.ui-custom-form-2d-formHeight > dd, .ui-custom-form-2d-formHeight > dt {
    height:31px;
}
.ui-custom-icon-accordion-expand, .ui-custom-icon-accordion-collapse {
	padding:0;
	background: url("images/ui-custom/ui-custom-rolePermission-accordion.png");
	display: inline-block;
	width: 15px;
	height: 15px;
	float:right;
	margin-right:12px;
	cursor:pointer;
}
.ui-custom-icon-accordion-collapse{
	background-position:15px 15px;
}
.ui-custom-icon-accordion-expand{
	background-position: 0 15px;
}
.ui-custom-role-menuContainer {}
.ui-custom-role-menuContainer >li>ul{
	clear:both;
	margin-left:60px;
}
.ui-custom-role-menuContainer >li>ul>li>span {
	display:inline-block;
	width:70px;
	text-align:left;
	height:24px;line-height:24px;
}
.ui-custom-role-menuTitle {
	float:left;
	display:inline-block;
	height: 24px;
	line-height:24px;
}
.ui-custom-role-itemLine{
	clear:both;
	min-height:24px;height:auto;
	border-bottom:1px solid #808080;
	margin:3px 0;
}
.ui-custom-role-itemLine>span{
	font-size:14px;
	font-weight:bold;
}
.ui-custom-role-accordion-title {
	clear:both;
	font-weight:bold;
	font-size:12px;
	color:#003399;
	height:24px;
	line-height:24px;
	margin:3px 0 0 0;
	cursor:pointer;
}
.ui-custom-role-pageSearch {
	float:right;
	margin:3px 6px 0 0;
	*margin-top:-24px;
}
/*角色添加*/
.line_lightBlue {
    clear: both;
    height: 3px;
    background-color: #69b4f7;
}
.field_width_120 {
    width:150px;
}
.ui-custom-role-permissionTitle {
    font-size:14px;
    font-weight:bold;
    margin:3px 0;
}
.form_signle_width {
    width:400px;
}
.field_td_60 {
    background-color: #FFFFFF;
    width: 60px;
    text-align: right;
}
.margin_left_6 {
    margin-left:6px;
}
/*查看已有权限*/
.ui-custom-role-queryBoard {
    clear:both;
    width:100%;
    height:auto;
    border:1px solid #c3daf9;
}
.ui-custom-role-queryBoard>.title{
    background:url("images/ui-custom/ui-custom-role-queryBoard-titleBg.png") repeat-x scroll transparent;
    width:100%;
    height:29px;
    line-height:29px;
}
.ui-custom-role-queryBoard>.title>h2{
    font-size:14px;
    font-weight:bold;
    padding-left:12px;
}
.ui-custom-role-queryBoard>.content{
    overflow:hidden;
    background-color:#f5f8fd;
}
/*最后一个的底边框为0*/
.ui-custom-role-queryBoard .lastTbody {
    border:0 none;
}
.color_039 {
    color:#003399;
}