
/**
 * buttonPro 
*/


.ui-buttonPro,
.ui-buttonPro span {
	background-image:url(images/buttonPro/buttonPro.png);
	background-repeat:no-repeat;
}

.ui-buttonPro {
	height:24px;
	display:inline-block;
	margin:2px;
	overflow-y:hidden;
}

.ui-buttonPro span {
	background-position:right -24px;
	height:24px;
	display:inline-block;
	padding-right:3px;
		margin-left:2px;/**3px  很多时候按钮会有推荐按钮会有一个缺口  huanghui  2011-12-5**/
}

.ui-buttonPro span .ico {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:16px;
	vertical-align:middle;
	margin:4px 2px 3px 3px;
	margin-bottom:0;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro span .s {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:0;
	vertical-align:middle;
	margin-top:4px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro span input,
.ui-buttonPro span button {
	margin:0;
	padding:0;
	border:0;
	background:none;
	font-size:12px;
	height:22px;
	line-height:24px;
	padding:0 3px;
	*padding:0px;/*IE7*/
	display:inline-block;
	overflow:hidden;
}

.ui-buttonPro span span.triangle {
	display:inline-block;
	background-image:url(images/buttonPro/btn_icon_menu.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
	vertical-align:middle;
	*vertical-align:top;
	margin:3px 3px 4px 2px;
	_margin-right:6px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonPro-h { background-position:0 -48px; }

.ui-buttonPro-h span { background-position:right -72px; }

.ui-buttonPro-c { background-position:0 -96px; }

.ui-buttonPro-c span { background-position:right -120px; }

.ui-buttonPro-d {
	background-position:0 -144px;
filter : progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=25, finishOpacity=0);
	opacity: 0.25;
}

.ui-buttonPro-d span { background-position:right -168px; }

.ui-buttonPro-d span button,
.ui-buttonPro-d span input { color:#CCCCCC;}

/**
 *buttonActive
 */
.ui-buttonActive,
.ui-buttonActive span,
.ui-buttonActive-h,
.ui-buttonActive-h span,
.ui-buttonActive-a,
.ui-buttonActive-a span {
	background-image:url(images/buttonActive/buttonActive.png);
	background-repeat:no-repeat;
}

.ui-buttonActive {
	height:24px;
	display:inline-block;
	margin:2px;
	overflow-y:hidden;
}

.ui-buttonActive span {
	background-position:right -24px;
	height:24px;
	display:inline-block;
	padding-right:3px;
	margin-left:2px;/**3px  很多时候按钮会有推荐按钮会有一个缺口  huanghui  2011-12-3**/
}

.ui-buttonActive span button,
.ui-buttonActive span input{
	margin:0;
	padding:0;
	border:0;
	background:none;
	font-size:12px;
	height:24px;
	line-height:24px;
	padding:0 3px;
	display:inline-block;
	color:#cc6600;
	overflow:hidden;
}

.ui-buttonActive span .standard { width:62px; }

.ui-buttonActive-h { background-position:0 -48px }

.ui-buttonActive-h span { background-position:right -72px; }

.ui-buttonActive-a { background-position:0 -96px }

.ui-buttonActive-a span { background-position:right -120px; }
.ui-buttonActive-d {
    filter : progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=25, finishOpacity=0);
	opacity: 0.25;
}
/**
 * buttonLight 
*/


.ui-buttonLight,
.ui-buttonLight span {
	background-image:url(images/buttonLight/buttonLight.png);
	background-repeat:no-repeat;
}

.ui-buttonLight {
	height:24px;
	display:inline-block;
	margin:2px;
	overflow-y:hidden;
}

.ui-buttonLight span {
	background-position:right -24px;
	height:24px;
	display:inline-block;
	padding-right:3px;
	margin-left:3px;
}

.ui-buttonLight span .ico {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:16px;
	vertical-align:middle;
	margin:4px 2px 3px 3px;
	margin-bottom:0;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonLight span .s {
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:16px;
	width:1px;
	vertical-align:middle;
	margin-top:4px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonLight span input,
.ui-buttonLight span button {
	margin:0;
	padding:0;
	border:0;
	background:none;
	font-size:12px;
	height:22px;
	line-height:24px;
	padding:0 3px;
	display:inline-block;
	overflow:hidden;
	/*color:#FFFFFF;*/
}

.ui-buttonLight span span.triangle {
	display:inline-block;
	background-image:url(images/buttonLight/btn_icon_menu.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:16px;
	width:5px;
	vertical-align:middle;
	*vertical-align:top;
	margin:3px 3px 4px 2px;
	_margin-right:6px;
	overflow:hidden;
	font-size:1px;
}

.ui-buttonLight-h { background-position:0 -48px; }

.ui-buttonLight-h span { background-position:right -72px; }

.ui-buttonLight-c { background-position:0 -96px; }

.ui-buttonLight-c span { background-position:right -120px; }

.ui-buttonLight-d {
	background-position:0 -144px;
filter : progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=25, finishOpacity=0);
	opacity: 0.25;
}

.ui-buttonLight-d span { background-position:right -168px; }

.ui-buttonLight-d span button,
.ui-buttonLight-d span input { color:#999999;}/*
 *作    者: 张勇辉 
 *版    本: 1.0 
 *完成时间: 2011-07-14 
 *描    述: minSearch
 *关联文件: reset.css|jquery-ui.css 
 */ 
.c6ui-widget-minSearch, .c6ui-widget-minSearch .minSearchInput, .c6ui-widget-minSearch a.minSearchBtn {
	background-image: url(images/minSearch/minSearch.png);
}
.c6ui-widget-minSearch {
	background-position:0 0;
	background-repeat:no-repeat;
	display:inline-block;
	height:22px;
	position:relative;
	clear:both;
}
.c6ui-widget-minSearch .minSearchInput {
	background-position:0 -22px;
	height:22px;
	margin-right:24px;
	margin-left:3px;
}
.c6ui-widget-minSearch .minSearchInput input {
	background:none;
	width:98%;
	_width:70%;
	height:22px;
	line-height:20px;
	_height:18px;
	border:none;
	padding:0 3px;
}
.c6ui-widget-minSearch a.minSearchBtn {
	background-position:0 -44px;
	height:22px;
	width:24px;
	display:block;
	position:absolute;
	top:0;
	right:0;
}
.c6ui-widget-minSearch a.minSearchBtn:hover {
	background-position:0 -66px;
}

/**
 * stateBox
*/
.ui-stateBox {
	border:#CCCCCC 1px solid;
	background-color:#EAEAEA;
	width:300px;
	min-height:16px;
	padding:7px;
	line-height:1;
	text-align:center;
	line-height:16px;
	overflow-y:hidden;
	position:absolute;
	top:40%;
	left:50%;
	margin-left:-150px;
	-moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
	z-index:999;
}

.ui-stateBox-succeed {
	border:#a7d093 1px solid;
	background-color:#ddffd5;
	z-index: 2147483647;  /** stateBox 提示框 添加浏览器最大层高 --- 黄卉   2011-11-14**/
}

.ui-stateBox-alert {
	border:#e1db66 1px solid;
	background-color:#ffffd7;
	z-index: 2147483647;  /** stateBox 提示框 添加浏览器最大层高 --- 黄卉   2011-11-14**/
}

.ui-stateBox-error {
	border:#e08989 1px solid;
	background-color:#ffdfdf;
	z-index: 2147483647;  /** stateBox 提示框 添加浏览器最大层高 --- 黄卉   2011-11-14**/
}
/**
 * menuList 
 */
.ui-menuList {
	border:solid 1px #cccccc;
	display:inline-block;
	padding:2px 0;
	position:absolute;
	background-color:#FFFFFF;
	display:none;
	min-width:80px;
	max-height:280px;
	overflow:auto;
}

.ui-menuList {
	-moz-border-radius: 2px; /* FF1-3.6 */
	-webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 2px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
}

.ui-menuList ul { margin-bottom:6px; }

.ui-menuList ul li {
	height:12px;
	line-height:12px;
	padding:5px 15px;
	cursor:default;
	overflow:hidden;
}

/*鼠标选中时的背景颜色*/
.ui-menuList ul li.h {
	background-color:#dfdfdf;
	color:#FFFFFF;
}

.ui-menuList ul li.d {
	background-color:#ffffff;
	color:#cccccc;
}

/* formTable*/
.formTable {
	border-left:solid #999999 1px;
	border-bottom:solid #999999 1px;
}

.formTable tbody tr td,
.formTable thead tr td {
	border-top:solid #999999 1px;
	border-right:solid #999999 1px;
	height:20px;
	line-height:20px;
	padding:2px;
	background-color:#FFFFFF;
	vertical-align:middle;
}
.formTable tbody tr td.noborder,
.formTable thead tr td.noborder {
	border-right:none;
}
.formTable tbody tr td.textright,
.formTable thead tr td.textright,
.formTable thead tr td.textright input,
.formTable tbody tr td.textright input
{
text-align:right;
}
.formTable tbody tr td.note,
.formTable thead tr td.note
{
color:#CCCCCC;
}
.formTable tbody tr td.title,
.formTable thead tr td.title { background-color:#E0ECE8; text-align:center; }
.formTable tbody tr td input,.formTable tbody tr td select,.formTable thead tr td input,.formTable thead tr td select{ border:0; background-color:#FFFFFF; width:95%; height:20px; margin:0 3px; line-height:20px;}
.formTable tbody tr td input:focus,.formTable tbody tr td select:focus,.formTable thead tr td input:focus,.formTable thead tr td select:focus{ border:0; background-color:#FFFFFF; width:95%; height:20px; margin:0 3px; border-bottom:dashed 1px #CC3300;}
.formTable tbody tr td input.auto,.formTable tbody tr td select.auto,.formTable thead tr td input.auto,.formTable thead tr td select.auto{ border:0; background-color:#FFFFFF; width:auto; height:20px;}
.red{ color:#FF0000;}
/*widget ProgressBar*/
.ui-progressBar, .ui-progressBar span, .ui-progressBar span b {
	height:15px;
	background-image: url(images/progressBar/progressBar.png);
	background-repeat: repeat-x;
}
.ui-progressBar {
	background-position:0 0;
	width:100%;
	font-size:0;
	display:inline-block;
	margin:4px 0;
	overflow:hidden;
}
.ui-progressBar span {
	background-position:0 -15px;
	display:block;
	margin:0 1px;
}
.ui-progressBar span b {
	width:0;
	background-position:0 -30px;
	display:block;
}/* toolbar */
.ui-toolbar {
	height:28px;
	line-height:28px;
	padding:3px 6px;
	background-color: #f7f7f7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f7f7f7, #efefef); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #f7f7f7, #efefef); /* IE10 */
	background-image:      -o-linear-gradient(top, #f7f7f7, #efefef); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #f7f7f7, #efefef);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#efefef'); /* IE6CIE9 */
 overflow:hidden;
}
.ui-toolbarTop{ border-bottom:solid 1px #cecece;}
.ui-toolbarBottom{ border-top:solid 1px #cecece;}
.ui-toolbar label{ height:24px; line-height:24px; display:inline-block; margin:2px; vertical-align:top;}
/**
 * inputText
*/
.ui-inputText{ border:1px solid #c5c5c5; padding:1px; height:20px; line-height:20px; background-color:#FFF;}
.ui-inputText-active{ border:1px solid #3399ff;}
.ui-inputText[disabled="disabled"]{border:1px solid #dddddd; background-color:#FFF;}

/**
 * inputSelect
*/
.ui-inputSelect{ border:1px solid #c5c5c5; padding:1px; height:23px; line-height:20px; background-color:#FFF;}
.ui-inputSelect-active{ border:1px solid #3399ff;}
.ui-inputSelect[disabled="disabled"]{border:1px solid #dddddd; background-color:#FFF;}

/**
 * inputTextarea
*/
.ui-inputTextarea{ border:1px solid #c5c5c5; padding:1px; background-color:#FFF; overflow:auto; vertical-align:text-top;}
.ui-inputTextarea-active{ border:1px solid #3399ff;}
.ui-inputTextarea[disabled="disabled"]{border:1px solid #dddddd; background-color:#FFF;}

/**
  *tabMin
  */
.ui-tab>dt{float:left;}  
.ui-tabMin {
    clear: both;
    display: block;
    border-bottom: 1px solid #acacac;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    font-family: "宋体", Arial Helvetica, sans-serif;
}
.ui-tabMin>dt {
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
    min-width: 75px;
    padding:0 5px;
}
.ui-tabMin>dt.normal {
    background-color:#e4e4e4;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    color: #666;
}
.ui-tabMin>dt.active {
    border-color: #cdcdcd #cdcdcd #fff;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
}

/**
 * tabPro
*/
.ui-tabPro{clear:both;margin-top:10px;height:26px;border-bottom:1px solid #cdcdcd;}
.ui-tabPro>dt{
	 text-decoration:none;
	 width:90px;
	 height:25px;
	 line-height:25px;
	 margin-right:5px;/*选项卡之间的距离*/
	 float:left;/*选项卡水平排列*/
	 text-align:center;/*文本居中显示-待定*/
	 font-size:12px;
	 font-weight:600;
	 cursor:pointer;/*手型-可点击*/
}
.ui-tabPro>dt.active{
	border-top:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-bottom:1px solid #ffffff;
	color:#000000;
}
.ui-tabPro>dt.normal{
	border-top:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	background:url("images/ui-custom/ui-custom-knowledge-skan-tab-panel.png");
	color:#424242;
}
/*widget minProgressBar*/
.ui-min-progressBar, .ui-min-progressBar span, .ui-min-progressBar span b {
	height:18px;
	background-image: url(images/minProgressBar/minProgressBar.png);
	width:100px;
}
.ui-min-progressBar span {
	background-position:0 -40px;
	display:block;
}
.ui-min-progressBar span b{
	width:0px;
}
.ui-min-progressBar span b.grayColor{
	background-position:0 -60px;
	display:block;
}
.ui-min-progressBar span b.blueColor{
	background-position:0 -80px;
	display:block;
}
.ui-min-progressBar span b.redColor{
	background-position:0 -120px;
	display:block;
}
.ui-min-progressBar span b.greenColor{
	background-position:0 -100px;
	display:block;
}
.ui-min-progressBar span b.yellowColor{
	background-position:0 -20px;
	display:block;
}
.ui-min-progressBar span b.purpleColor{
	background-position:0 0;
	display:block;
}
/*widget miniProgressBar*/
.ui-mini-progressBar span {
	width:51px;
	height:5px;
	background-color:#bababa;
	display:block;
}
.ui-mini-progressBar span b{
	height:5px;
	background-color:#3895fd;
	display:block;
}
/**
 * menuSelect
 */
.ui-menuSelect {
	border:solid 1px #cccccc;
	display:inline-block;
	padding:2px 0;
	position:absolute;
	background-color:#FFFFFF;
	display:none;
	min-width:80px;
	z-index:1000;
}

.ui-menuSelect {
	-moz-border-radius: 2px; /* FF1-3.6 */
	-webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 2px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
}

.ui-menuSelect ul li {
	/*height:12px;*/
	/*line-height:12px;*/
	padding:2px 15px;
	cursor:default;
	overflow:hidden;
}
.ui-menuSelect ul li input{
    height:12px;
    line-height:12px;
    cursor:default;
    overflow:hidden;
    vertical-align:text-top;
    margin-right: 5px;
}
.ui-menuSelect ul li.ui-menuSelect-li{
    padding:4px 15px;
}
.ui-menuSelect ul li a.ui-menuSelect-selectUrl{
    padding-left:10px;
}

.ui-menuSelect ul li.h {
	background-color:#6699cc;
	color:#FFFFFF;
}

.ui-menuSelect ul li.d {
	background-color:#ffffff;
	color:#cccccc;
}
/**
 * menuSingleSelect
 */
.ui-menuSingleSelect {
	border:solid 1px #cccccc;
	display:inline-block;
	padding:2px 0;
	position:absolute;
	background-color:#FFFFFF;
	display:none;
	min-width:150px;
	z-index:1000;
}

.ui-menuSingleSelect {
	-moz-border-radius: 2px; /* FF1-3.6 */
	-webkit-border-radius: 2px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 2px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 0px 0px 2px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 2px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 2px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
}

.ui-menuSingleSelect ul.ui-menuSingleSelect-ul { margin-bottom:6px; }

.ui-menuSingleSelect ul li {
	/*height:12px;*/
	/*line-height:12px;*/
	padding:2px 15px;
	cursor:default;
	overflow:hidden;
}
.ui-menuSingleSelect ul li input{
    height:12px;
    line-height:12px;
    padding:5px 15px;
    cursor:default;
    overflow:hidden;
    vertical-align:text-top;
    margin-right: 5px;
}
.ui-menuSingleSelect ul li.ui-menuSingleSelect-li{
    padding:4px 15px;
}
.ui-menuSingleSelect ul li a.ui-menuSingleSelect-selectUrl{
    padding-left:10px;
}

.ui-menuSingleSelect ul li.h {
	background-color:#6699cc;
	color:#FFFFFF;
}

.ui-menuSingleSelect ul li.d {
	background-color:#ffffff;
	color:#cccccc;
}

