#widget-place-1{ margin-left:10px; width:330px; float:left; height:100%;}
#widget-place-2{ margin-left:350px;margin-left:352px\9\0; min-width:50px; height:100%;margin-right:10px;}
#main{ overflow:hidden;}
