#widget-place-1{margin-left: 10px;width: 330px;float:right; height:100%;margin-right:10px;}
#widget-place-2{ margin-left:10px; margin-right:350px;margin-right:352px\9\0; min-width:50px; height:100%;}
#widget-place-3{clear:both;}
#main{ overflow:hidden;}