* {margin:0 auto;padding:0;}
body{
	font-family: "宋体", Arial Helvetica, sans-serif;
	font-size: 12px;
}
html{
	scrollbar-arrow-color: #ffffff; /*三角箭头的颜色*/
	scrollbar-face-color: #f5f1ce; /*立体滚动条的颜色*/
	scrollbar-3dlight-color: #ffffff; /*立体滚动条亮边的颜色*/
	scrollbar-highlight-color: #ffffff; /*滚动条空白部分的颜色*/
	scrollbar-shadow-color: #ffffff; /*立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color: #ffffff; /*立体滚动条强阴影的颜色*/
	scrollbar-track-color: #ffffff; /*立体滚动条背景颜色*/
	scrollbar-base-color:#ffffff; /*滚动条的基本颜色*/
}
.area1 .more{ float:right; font-weight:500;font-size:12px; text-decoration:none;color:#333333; padding-right:12px;}

/*------limj modify 2011-09-02----*/
.area1{ 
	width:100%;
	float:left;
	border:1px solid #9e0606;
}

/*------limj modify 2011-09-02 更改背景图片----*/
.area1 .area_tit{ 
	font-family: "宋体", Arial Helvetica, sans-serif;
	font-size: 14px;
	color: #fff681; 
	line-height:28px; 
	clear:both;
	background:url(images/ui-workbench-tit-bg.png) repeat-x;
	text-indent:12px;
	border-bottom:1px solid #9e0606;
}
/*------limj add 2011-09-06 新增工作台标签页样式----*/
.ui-workbench-tab{
	margin-top:5px;
	margin-left:12px;
	font-family: "宋体", Arial Helvetica, sans-serif;
	font-size:12px;
	clear:both;
	height:27px;
	/*border-bottom:1px solid #cdcdcd;*/
	position: relative;
}

.ui-workbench-tab dt{
	 text-decoration:none;
	 width:75px;
	 height:28px;
	 line-height:26px;
	 margin-right:5px;
	 float:left;
	 text-align:center;
	 cursor:pointer;
	 display:inline-block;
     position: relative;
     margin-top: -1px;
}

.ui-workbench-tab dt span a{
	color:#000000;
}

.ui-workbench-tab .ui-workbench-tab-active{
	border:1px solid #cdcdcd;
    border-bottom: 1px solid #ffffff;
    font-weight:bold;
    background-color: #ffffff;
}

.ui-workbench-tab .ui-workbench-tab-normal{
	border:1px solid #cdcdcd;
    background-color:#E4E4E4;
}
/*------end----*/

.widget-header strong{
	font-size:14px;
	font-weight:700;
}

/*------limj modify 2011-09-02 内容区距顶间距为10px----*/
.widget-content {
/* 	margin:10px 12px 5px 12px;  */
  	height:230px;
  	padding:2px;      /* 修改图片栏目中iframe的高度和宽度 */
  	padding-top:8px;
}

.widget-content-min{
	height:196px;
}

/*------limj modify 2011-09-02 距顶间距为10px----*/
.widget {
	margin-top:10px;
	height:253px;    /* 因工作台栏目高度显示太小，将200改为250 */
}

/*------limj modify 2011-09-02 清除宽度和最小高度----*/
.widget-place {
  margin: 0px 10px;
  padding: 0;
  /*float: left;*/
  list-style: none;
}

/* limj 2011-09-01 更改与上下左右的边框距离*/
.templateTB {
	width:100%;
	text-align:center;
	table-layout:fixed
}
.templateTB .head{height:15px;text-align:center;}

/* limj 2011-09-01 更改表头高度、字体颜色、字体不加粗、下边框设置为虚线*/
.templateTB .head th {
	height:15px; 
	text-align:left; 
	color:#333333; 
	line-height:15px;
	border-bottom:1px dashed #e3e3e1;
}
/* limj 2011-09-06 文字居左*/
.templateTB tr {
	width:100%; 
	height:20px; 
	line-height:20px;
	text-align:left;
}
/* limj 2011-09-01 更改清除下边框虚线*/
.templateTB td{
	padding:0 1px;
	word-break:break-all;
}
.templateTB td div{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
    -o-text-overflow: ellipsis;    /**//* for Opera */
    text-overflow:ellipsis;   
}

.widget-editbox {height: 0px;}

/*********yanghl 2011-05-18 add 在a标签前加入方块标记*********/
.widget-content li{border-bottom:1px dashed #e3e3e1;}

/***********limj 2011-09-01 更改与上下左右的边框距离************/
.widget-content a{
	background:url(images/black_li.png) no-repeat -6px center; 
	padding-left:10px; 
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
.widget-content span {
	float: right;
	color: #999999;
	margin-right: 5px;
}
.widget-menu {
	float:right;
	text-align: right;
	padding-right:12px;
	*margin-top: -30px;/** 在ie7下的兼容性问题的处理 -- 黄卉  2011-11-8**/
}
.widget-menu a {
    margin: 0 0 0 0.5em;
    color: #fff681;
    font-size: 12px;
}
.ui-workbench-port-set-div {
	width: 975px;
}
.ui-workbench-port-column-div {
	background-color: #fdfbf0;
	height: 125px;
	width: 100%;
	overflow: auto;
}
.ui-workbench-port-column {
	background:url(images/port-column-bg.png) repeat-x; 
	border: 1px solid #CFCFCF;
	color: #333333;
	line-height:38px;
	height: 38px;
	width: 146px;
	margin-left: 10px;
	margin-top: 8px;
	float: left;
}
.ui-workbench-port-column:hover {
	background:url(images/port-column-bg-hover.png) repeat-x; 
	border: 1px solid #FF9B06;
}
.ui-workbench-port-column-fold {
	background:url(images/port-column-fold.png) repeat; 
	width: 100%;
	height:15px;    /* 修改滑动图片的width，让其居中平铺 */
	background-position:center center;
}
.ui-workbench-port-column-expand {
	background:url(images/port-column-expand.png) repeat; 
	width: 100%;
	height:15px;    /* 修改滑动图片的width，让其居中平铺 */
	background-position:center center;
}
.ui-workbench-add-column-btn {
	background:url(images/ui-workbench-add-btn.png) no-repeat; 
	line-height:38px;
	height: 38px;
	width: 25px;
	margin-left: 10px;
	margin-top: 14px;
	float: left;
	cursor:hand;
}
.ui-workbench-port-column-name {
	float: left;
	padding-left: 6px;
	width: 100px;
	text-overflow:ellipsis; 
	white-space:nowrap; 
	overflow:hidden;
}
.ui-workbench-port-column-name a {
	color: #000000;
	cursor: hand;
}
.ui-workbench-port-column-option {
	float: right;
	text-align: center;
	margin-right: 6px;
}
.ui-workbench-port-layout {
	float: left;
	margin-left: 30px;
	height: 78px;
	width: 105px;
	background:url(images/ui-workbench-layout.png) repeat-x; 
	border: 1px solid #CFCFCF;
	text-align: center;
}
.ui-workbench-port-layout-select, .ui-workbench-port-layout:hover {
	float: left;
	margin-left: 30px;
	height: 78px;
	width: 105px;
	text-align: center;
	background:url(images/ui-workbench-layout-hover.png) repeat-x; 
	border: 1px solid #FF9B06;
}
.ui-workbench-port-layout-title {
	width:105px;
	height:25px;
	margin-left:30px;
	padding-top:10px;
}
/*------limj add 2011-09-14 工作台设置标签页样式----*/
.ui-workbench-set-tab{
	margin-top:5px;
	font-family: "宋体", Arial Helvetica, sans-serif;
	font-size:12px;
	clear:both;
	height:27px;
	border-bottom:1px solid #9e0606;
}

.ui-workbench-set-tab dt{
	 text-decoration:none;
	 width:75px;
	 height:26px;
	 line-height:26px;
	 margin-right:5px;/*选项卡之间的距离*/
	 float:left;/*选项卡水平排列*/
	 text-align:center;/*文本居中显示-待定*/
	 cursor:pointer;/*手型-可点击*/
}

.ui-workbench-set-tab .ui-workbench-set-tab-active{
	border-top:1px solid #9e0606;
	border-right:1px solid #9e0606;
	border-left:1px solid #9e0606;
	font-weight:600;
	border-bottom:1px solid #ffffff;
}

.ui-workbench-set-tab .ui-workbench-set-tab-normal{
	border-top:1px solid #9e0606;
	border-right:1px solid #dfceed;
	border-left:1px solid #dfceed;
	font-weight:600;
	color: #fff681;
	background:url(images/ui-workbench-tit-bg.png) repeat-x;
}
/*------end----*/
/**********knowledge模板样式******/
.ui-workbench-knowledge-classification-div-info {
	margin-left: 10px;
	margin-right: 12px;
}
 .ui-workbench-knowledge-classification-div-info a{
	background:none;
}
 .ui-workbench-knowledge-classification-div-info  table tr td{
	width:100%;;
}

 .ui-workbench-knowledge-classification-div-info img {
	text-align: right;
	heitht:25px;
	width:25px;
}
.ui-workbench-knowledge-classification-div-info div.moreinfo{
	float: left;
	width: 100%;
}
 .ui-workbench-knowledge-classification-div-info div.title {
	width: 80%;
	float: left;
}
.ui-workbench-knowledge-classification-div-info span.spana {
	font-size: 14px;
}
.ui-workbench-knowledge-classification-div-info span.small {
	font-size: 12px;
	color: #999999;
	clear:both; 
	float:none;
}

 .ui-workbench-knowledge-classification-div-info div.info {
	margin-top: 9px;
	width: 80%;
}

.ui-workbench-knowledge-classification-div-line {
	clear:both;
	border: solid 1px #e7e7e7;
	margin-top: 10px;
	margin-bottom: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.ui-workbench-knowledge-div-noline {
	clear:both;
	border: dashed 1px #ccc;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 5px;
}
.ui-workbench-knowledge-classification-div-noline-none {
	clear:both;
}
/* 门户设置时添加的栏目的标题部分的样式 */
.Move{
	font-family: "宋体", Arial Helvetica, sans-serif;
	font-size: 14px;
	color: #fff681; 
	line-height:28px; 
	clear:both;
	background:url(images/ui-workbench-tit-bg.png) repeat-x;
	text-indent:12px;
	border-bottom:1px solid #9e0606;
	font-weight:bold;
}
.moveBorder{
	border:1px solid #9e0606;
	width:100%;
	height:250px;
}
/**********knowledge模板样式 end******/