/**
 * stateBox
*/
.ui-stateBox {
	border:#CCCCCC 1px solid;
	background-color:#EAEAEA;
	width:300px;
	min-height:16px;
	padding:7px;
	line-height:1;
	text-align:center;
	line-height:16px;
	overflow-y:hidden;
	position:absolute;
	top:40%;
	left:50%;
	margin-left:-150px;
	-moz-box-shadow: 0px 0px 4px #cccccc; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 4px #cccccc; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 4px #cccccc; /* Opera 10.5, IE9, Chrome 10+ */
	z-index:999;
}

.ui-stateBox-succeed {
	border:#a7d093 1px solid;
	background-color:#ddffd5;
	z-index: 2147483647;
}

.ui-stateBox-alert {
	border:#e1db66 1px solid;
	background-color:#ffffd7;
	z-index: 2147483647;
}

.ui-stateBox-error {
	border:#e08989 1px solid;
	background-color:#ffdfdf;
	z-index: 2147483647;
}
